<form action="/cards" methos="post">
  <fieldset>
    <textarea name="title" autofocus required></textarea>
  </fieldset>
  <div class="actions">
    <input type="submit" class="btn btn-success" value="Save">
    <a href="#" class="cancel">
      <i class="fa fa-times"></i>
    </a>
  </div>
</form>