<form action="/lists" methos="post">
  <fieldset>
    <input type="text" name="title" placeholder="Add a list..." autofocus required>
  </fieldset>
  <div class="actions">
    <input type="submit" class="btn-success" value="Save">
    <a href="#" class="cancel">
      <i class="fa fa-times"></i>
    </a>
  </div>
</form>