<header>
  <div class="close">
    <i class="fa fa-times"></i>
  </div>
  <p>Change Due Date</p>
</header>
<form>
  <fieldset class="date-form-fields">
      <dl>
        <dt>
          <label for="alternate-date">Date</label>
        </dt>
        <dd>
          <input type="text" name="" id="alternate-date">
        </dd>
      </dl>

      <dl>
        <dt>
          <label for="time">Time</label>
        </dt>
        <dd>
          <input type="text" name="" id="time" value="12:00 PM">
        </dd>
      </dl>
  </fieldset>
  <div id="datepicker" class="datepicker"></div>
  <div class="actions">
    <input type="submit" name="" class="btn btn-success">
    <a href="" class="btn btn-warning remove">Remove</a>
  </div>
</form>
