<div class="quick-edit">
  <form>
    <textarea class="title">{{title}}</textarea>

    <div class="actions">
      <input type="submit" class="btn btn-success" name="" value="Save">
    </div>
  </form>
</div>
