<form method="post" action="/">
  <fieldset>
    <textarea class="description-input" placeholder="Add a more detailed description...">
    {{description}}
    </textarea>
  </fieldset>

  <div class="actions">
    <input type="submit" class="btn btn-success" name="" value="Save">
    <a href="#" class="cancel">
      <i class="fa fa-times"></i>
    </a>
  </div>
</form>
