<div class="label {{color}}">
  {{title}}
  {{#if assigned}}
    <span class="check">
      <i class="fa fa-check"></i>
    </span>
  {{/if}}
</div>
<span class="edit">
  <i class="fa fa-pencil edit-label"></i>
</span>
